<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tic Tac Toe - Flask SocketIO</title>

  <!-- Socket.IO CDN -->
  <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" crossorigin="anonymous"></script>

  <!-- 🔗 ربط ملف CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <form id="landing">
    <input type="text" id="username" placeholder="Enter username" required />
    <button type="submit">JOIN</button>
  </form>

  <div id="waiting"><h3>Waiting for another player...</h3></div>

  <div id="game">
    <h3 id="turn-info"></h3>
    <div id="board"></div>
    <div id="winner-message"></div>
  </div>



  <!-- 🔗 ربط ملف JS -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
